<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Phone Book</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<nav>
    <div class="nav-wrapper">
        <h1 class="right-align">Phone Book</h1>
    </div>
</nav>

<div class="my-page">
    <h4> Add company</h4>

    <form id="addForm" th:action="@{/addCompany}"
          th:object="${addForm}" method="POST">


        <div class="row">

            <div class="input-field col s6">
                <i class="small material-icons prefix">account_circle </i>
                <input id="name" type="text" class="validate" th:field="*{name}">
                <label class="active" for="name">Name</label>
            </div>

        </div>

        <div class="row">

            <div class="input-field col s6">
                <i class="small material-icons prefix">phone</i>
                <input id="phone" type="text" class="validate" th:field="*{phone}">
                <label class="active" for="phone">Phone</label>
            </div>
        </div>
        <input type="submit" style="visibility: hidden"/>
        <div class="row">
            <a th:href="@{/}"
               class="btn-floating btn-small waves-effect waves-light orange darken-3"><i class="material-icons">arrow_back</i></a>
        </div>
        </form>

        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card-panel white-text teal lighten-2" th:if="${errorMessage}" th:utext="${errorMessage}">
                </div>
            </div>
        </div>

</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        $("#addButton").click(function () {
            $(location).attr('href', "/");
        });
        $("#addForm").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 3
                },
                phone: {
                    required: true,
                    minlength: 3
                }
            },
            //For custom messages
            messages: {
                name: {
                    required: "Enter subscriber name",
                    minlength: "Enter at least 3 characters"
                }
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>

</body>
</html>